.timerShaft-body{
	width: 100%;
	height: 1.2rem;
	overflow-x: scroll;
	overflow-y: hidden;
	/*padding-top: 0.3rem;*/
}
.timerShaft-body::-webkit-scrollbar {
	display:none;
}

.timerShaft-body .shaft {
	height: 1.2rem;
	position: relative;
	padding-left: 0.175rem;
}
.timerShaft-body .shaft .timer {
	list-style: none;
	width: 2rem;
	/*height: 0.8rem;*/
	text-align: center;
	position: relative;
	float: right;
	/*margin: 0 0.3rem;*/
}
.timerShaft-body .shaft .timer p {
	/*position: absolute;*/
	margin-bottom: 0;
	padding: 0;
	width: inherit;
	font-size: 0.24rem;
}
.timerShaft-body li {
	color: #C8C8C8;
}
