<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>家庭组列表页面</title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/swiper.min.css" />
		<script type="text/javascript" src="js/rem.js"></script>
		<script type="text/javascript" src="js/iconfont.js"></script>
	</head>

	<body>
		<div class="header" style="background-image: url(img/background.svg);background-size:cover;height: 1.4rem;">
			<div class="baike-header">
				<div class="baike-header-left" id="back">
					<img src="img/return.png" />
				</div>
				<div class="baike-header-right-center">
					家庭组
				</div>
				<div class="baike-header-top-right" id="addGroup">
					添加组
				</div>
			</div>
		</div>
		<div class="mui-scroll-wrapper" style="margin-top: 1.4rem;" id="health-form">
			<div class="mui-scroll">
                <div class="noMessage-content" v-if="noData == 1">
                    	<img src="img/nomessage2.png" />
                    	<span>请添加家庭组..</span>
                    </div>
				<!--家庭组卡片-->
				<div v-for="(items,index) in groupList" class="family-group">
					<div class="family-group-one" v-for="item in items.userList" @click="checkOne(item.id,item.name);">
						<img v-if="guolv(item.sex,item.year) == 1" src="img/woman.png" />
						<img v-if="guolv(item.sex,item.year) == 2" src="img/mans.png" />

						<img v-if="guolv(item.sex,item.year) == 3" src="img/girls.png" />
						<img v-if="guolv(item.sex,item.year) == 4" src="img/boys.png" /> {{item.name}}
					</div>
					<div style="clear: both;"></div>
					<div class="family-group-name">
						组名：{{items.groupInfo.name}}
						<button class="family-group-more" @click="groupEdit(items.groupInfo.id,items.groupInfo.name)">编辑</button>
					</div>
				</div>
				<div style="width: 7.5rem;height: 1.3rem;"></div>
			</div>
		</div>
		<div class="health-main-menu">
			<div class="main-page " id="main-page">
				<svg class="icon-menu" aria-hidden="true">
					<use xlink:href="#icon-zhuye"></use>
				</svg>
				<span>首页</span>
			</div>
			<div class="family-page icon-active" id="family-page">
				<svg class="icon-menu icon-active" aria-hidden="true">
					<use xlink:href="#icon-jiating"></use>
				</svg>
				<span>家庭健康</span>
			</div>
			<div class="shop-page" id="meals-page">
				<svg class="icon-menu" aria-hidden="true">
					<use xlink:href="#icon-faxian"></use>
				</svg>
				<span>订餐</span>
			</div>
			<div class="shop-page" id="shop-page">
				<svg class="icon-menu" aria-hidden="true">
					<use xlink:href="#icon-faxian"></use>
				</svg>
				<span>发现</span>
			</div>
			<div class="my-page" id="my-page">
				<svg class="icon-menu" aria-hidden="true">
					<use xlink:href="#icon-wode"></use>
				</svg>
				<span>我的</span>
			</div>
		</div>

		<script type="text/javascript" src="js/mui.min.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/swiper.min.js"></script>
		<script type="text/javascript" src="js/menu.js"></script>
		<script type="text/javascript" src="js/configUrl.js"></script>
		<script type="text/javascript" src="js/utils/http.js" ></script>
		<script type="text/javascript" charset="utf-8">
		
			mui.init();
			var vm = new Vue({
				el: "#health-form",
				data: {
					groupList: '',
					noData:'0',
				},
				methods: {
//					checkmore: function(groupid,groupName) {//查看组详情
//						var thisid = groupid;
//						console.log('组id' + groupid);
//						localStorage.setItem('groupName',groupName);
//						mui.openWindow({
//							url: 'familyHealth.html',
//							id: 'familyHealth',
//							extras: {
//								groupid: thisid,
//							}
//						})
//					},
                    groupEdit:function(groupid,groupName){//编辑家庭组
                    	var params={
                    		groupId: groupid
                    	}
                    	
                    	var data = doGet('/user/findListByGroup',params,function(data){
                    		
                    		if(data.code != '0') {
							mui.toast('查询失败！');
							return;
						} else {
							var editList = data.data;
							
						localStorage.setItem('groupName',groupName);  	
                    	
	                    mui.openWindow({
						url: 'familyEdit.html',
						id: 'familyEdit',
						extras: {
							groupUserList: editList,
							groupid: groupid,
							
						    }
					      })
							
                           }
                    	})
                    	
                
                    	
                    },
					checkOne:function(userid,username){//查看个人详情
						
						mui.openWindow({
							url: 'familyHealthChart.html',
							id: 'familyHealthChart',
							extras: {
								userid: userid,
								usname: username
							}
						})
						
					},
					guolv: function(sex, year) { //根据条件改变头像
						var year1 = year;
						var myDate = new Date();
						var thisYear = myDate.getFullYear();
						var nianlin = thisYear - year;
						if(nianlin > 18 && sex == 3) { //女人
							return 1;
						}
						if(nianlin > 18 && sex != 3) { //男人			
							return 2;
						}
						if(nianlin < 18 && sex == 3) { //小女孩
							return 3;
						}
						if(nianlin < 18 && sex != 3) { //小男孩
							return 4;
						}

					}

				}
			})
			mui.plusReady(function() {

				//滚动
				mui('.mui-scroll-wrapper').scroll({
					scrollY: true,
					deceleration: 0.0003,
					indicators: false
				});

				loadGroup();

				//添加组
				document.getElementById('addGroup').addEventListener('tap', function() {
					mui.openWindow({
						url: 'familyGroupAdd.html',
						id: 'familyGroupAdd'
					})
				});
			});
			 
			 
			 //全局监听刷新页面
			 window.addEventListener('clearData-groupList', function(evt) {
				loadGroup();
			});
			
			window.addEventListener('clearData-group', function(evt) {
				
                
				plus.nativeUI.showWaiting( "刷新中..." );
	            setTimeout( function(){
	              loadGroup();
		          plus.nativeUI.closeWaiting();
	            }, 500 );
				
	            
				
			});
			
			window.addEventListener('clearTitle', function(evt) {
             plus.navigator.setStatusBarStyle('light');
          	});
            

			//返回
			document.getElementById('back').addEventListener('tap', function() {
				console.log('返回')
				mui.back();
			});
			
			
		
			

		
             //获取家庭组列表数据
			function loadGroup() {
				var phone = localStorage.getItem('phone');
				var userid = localStorage.getItem('userid');
				var token = localStorage.getItem("token");

				//				console.log(phone);
				//				console.log(userid);
				//				console.log(token);
				
				var params ={

						userId: userid,

					} 
				
				var data = doGet('/group/findGroupByUser',params,function(data){
					
					console.log(JSON.stringify(data));
						if(data.code != '0') {
							vm.noData = '1';
							mui.toast('查询失败！');
							return;
						} else {

							var dataJson = data.data;
							if(dataJson == ''){
								vm.noData = '1';
							}else{
								vm.groupList = dataJson;
								vm.noData = '0';
							}
							
							
						}
					
				})



			}
		</script>
	</body>

</html>