<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>社区体检</title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/style.css" />
		<script type="text/javascript" src="js/rem.js"></script>
		<script type="text/javascript" src="js/iconfont.js"></script>
		<style>
			
		</style>
	</head>

	<body>
		<div class="header" style="background-image: url(img/background.svg);background-size:cover;height: 1.4rem;">
			<div class="baike-header">
				<div class="baike-header-left" id="back">
					<img src="img/return.png" />
				</div>
				<div class="baike-header-right-center">
					体检详情
				</div>
				<div class="baike-header-top-right" id="share">
					分享
				</div>
			</div>
		</div>
		<div class="mui-scroll-wrapper" style="margin-top: 1.41rem;" id="health-check">
			<div class="mui-scroll">
				<!--体检建议按钮-->
				<div class="advice-modal-show" id="health-advice">
          			<span>点击查看体检建议</span>
        		</div>
        		<!--遮盖层-->
        		<div class="mui-backdrop" id="modal-bg" style="display: none;"></div>
        		<!--体检建议内容 弹窗-->
        		<div class="advice-modal-body mui-scroll-wrapper" id="modal-show" style="display: none;">
        			<div class="mui-scroll">
        				<!--建议标题-->
	        			<div class="advice-modal-header">
	        				<span>健康建议（根据你本次体检结果）</span>
	        			</div>
	        			<!--建议内容-->
						<div class="advice-modal-content ">
	        				<div class="advice-modal-card" v-for="item in adviceArray">
				          		<span class="advice-modal-card-title">{{item.title}}</span>
				          		<span class="advice-modal-card-content">{{item.content}}</span>
				      		</div>
					      	<div v-if="adviceArray.length === 0" class="advice-modal-card">
					         	 <span class="advice-modal-card-title">本次体检所有指标都在正常范围，要继续保持哟！</span>
					      	</div>	
	        			</div>
        			</div>
        		</div>
				<!--主要内容-->
				<div class="small-check-content">
					<div class="small-check-one">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								身高
							</div>
							<div class="small-check-one-left-bottom">
								{{dataList.height}} cm
							</div>
						</div>
						<div class="small-check-one-right">
							<img src="img/ok.png" />
						</div>
					</div>

					<div class="small-check-one">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								体重
							</div>
							<div class="small-check-one-left-bottom">
								{{dataList.weight}} kg
							</div>
						</div>
						<div class="small-check-one-right">
							<img v-if="weightData(dataList.weight) == 0" src="img/down.png" />
							<img v-if="weightData(dataList.weight) == 1" src="img/ok.png" />
							<img v-if="weightData(dataList.weight) == 2" src="img/up.png" />
						</div>
					</div>

					<div class="small-check-one" @click="checkHistory(33)">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								BMI
							</div>
							<div class="small-check-one-left-bottom">
								{{dataList.bmi}} kg/m²
							</div>
						</div>
						<div class="small-check-one-right">
							<img v-if="BMIData(dataList.bmi) == 0" src="img/down.png" />
							<img v-if="BMIData(dataList.bmi) == 1" src="img/ok.png" />
							<img v-if="BMIData(dataList.bmi) == 2" src="img/up.png" />
						</div>
					</div>

					<!--<div class="small-check-one">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								收缩压
							</div>
							<div class="small-check-one-left-bottom">
								{{dataList.sbp}} mmHg
							</div>
						</div>
						<div class="small-check-one-right">
							<img v-if="souData(dataList.sbp) == 0" src="img/down.png" />
							<img v-if="souData(dataList.sbp) == 1" src="img/ok.png" />
							<img v-if="souData(dataList.sbp) == 2" src="img/up.png" />
						</div>
					</div>

					<div class="small-check-one">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								舒张压
							</div>
							<div class="small-check-one-left-bottom">
								{{dataList.dbp}} mmHg
							</div>
						</div>
						<div class="small-check-one-right">
							<img v-if="shuData(dataList.dbp) == 0" src="img/down.png" />
							<img v-if="shuData(dataList.dbp) == 1" src="img/ok.png" />
							<img v-if="shuData(dataList.dbp) == 2" src="img/up.png" />
						</div>
					</div>

					<div class="small-check-one">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								脉搏
							</div>
							<div class="small-check-one-left-bottom">
								{{dataList.pulse}} 次/分
							</div>
						</div>
						<div class="small-check-one-right">
							<img v-if="maiData(dataList.pulse) == 0" src="img/down.png" />
							<img v-if="maiData(dataList.pulse) == 1" src="img/ok.png" />
							<img v-if="maiData(dataList.pulse) == 2" src="img/up.png" />
						</div>
					</div>-->

					<div class="small-check-one" @click="checkHistory(15)">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								血氧饱和度
							</div>
							<div class="small-check-one-left-bottom">
								{{dataList.bo}} %
							</div>
						</div>
						<div class="small-check-one-right">
							<img v-if="baoheduData(dataList.bo) == 0" src="img/down.png" />
							<img v-if="baoheduData(dataList.bo) == 1" src="img/ok.png" />
							<img v-if="baoheduData(dataList.bo) == 2" src="img/up.png" />
						</div>
					</div>

					<div class="small-check-one" @click="checkHistory(16)">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								脂肪率
							</div>
							<div class="small-check-one-left-bottom">
								{{dataList.fat}} %
							</div>
						</div>
						<div class="small-check-one-right">
							<img v-if="zfData(dataList.fat) == 0" src="img/down.png" />
							<img v-if="zfData(dataList.fat) == 1" src="img/ok.png" />
							<img v-if="zfData(dataList.fat) == 2" src="img/up.png" />
						</div>
					</div>

					<div class="small-check-one" @click="checkHistory(17)">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								基础代谢
							</div>
							<div class="small-check-one-left-bottom">
								{{dataList.bmr}}
							</div>
						</div>
						<div class="small-check-one-right">
							<img v-if="daixieData(dataList.bmr) == 0" src="img/down.png" />
							<img v-if="daixieData(dataList.bmr) == 1" src="img/ok.png" />
							<img v-if="daixieData(dataList.bmr) == 2" src="img/up.png" />
						</div>
					</div>

					<div class="small-check-one" @click="checkHistory(18)">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								水分含量
							</div>
							<div class="small-check-one-left-bottom">
								{{dataList.water}} %
							</div>
						</div>
						<div class="small-check-one-right">
							<img v-if="waterData(dataList.water) == 0" src="img/down.png" />
							<img v-if="waterData(dataList.water) == 1" src="img/ok.png" />
							<img v-if="waterData(dataList.water) == 2" src="img/up.png" />
						</div>
					</div>

					<div class="small-check-one" @click="checkHistory(20)">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								腰臀比
							</div>
							<div class="small-check-one-left-bottom">
								{{dataList.whr}}
							</div>
						</div>
						<div class="small-check-one-right">
							<img v-if="whrData(dataList.whr) == 0" src="img/down.png" />
							<img v-if="whrData(dataList.whr) == 1" src="img/ok.png" />
							<img v-if="whrData(dataList.whr) == 2" src="img/up.png" />
						</div>
					</div>

					<div class="small-check-one" @click="checkHistory(21)">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								血糖
								<span v-if="dataList.hoursAfterMeal == 0">(空腹)</span>
								<span v-if="dataList.hoursAfterMeal == 1">(餐后)</span>
								<span v-if="dataList.hoursAfterMeal == 2">(随机)</span>
							</div>
							<div class="small-check-one-left-bottom">
								{{dataList.glu}} mmol/L
							</div>
						</div>
						<div class="small-check-one-right">
							<img v-if="xtData(dataList.glu,dataList.hoursAfterMeal) == 0" src="img/down.png" />
							<img v-if="xtData(dataList.glu,dataList.hoursAfterMeal) == 1" src="img/ok.png" />
							<img v-if="xtData(dataList.glu,dataList.hoursAfterMeal) == 2" src="img/up.png" />
						</div>
					</div>

					<div class="small-check-one" @click="checkHistory(22)">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								尿酸
							</div>
							<div class="small-check-one-left-bottom">
								{{dataList.ua}} mmol/L
							</div>
						</div>
						<div class="small-check-one-right">
							<img v-if="uaData(dataList.ua) == 0" src="img/down.png" />
							<img v-if="uaData(dataList.ua) == 1" src="img/ok.png" />
							<img v-if="uaData(dataList.ua) == 2" src="img/up.png" />
						</div>
					</div>

					<div class="small-check-one" @click="checkHistory(23)">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								胆固醇
							</div>
							<div class="small-check-one-left-bottom">
								{{dataList.chol}} mmol/L
							</div>
						</div>
						<div class="small-check-one-right">
							<img v-if="cholData(dataList.chol) == 0" src="img/down.png" />
							<img v-if="cholData(dataList.chol) == 1" src="img/ok.png" />
							<img v-if="cholData(dataList.chol) == 2" src="img/up.png" />
						</div>
					</div>

					<div class="small-check-one" @click="checkHistory(24)">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								体温
							</div>
							<div class="small-check-one-left-bottom">
								{{dataList.TT}}℃
							</div>
						</div>
						<div class="small-check-one-right">
							<img v-if="TTData(dataList.TT) == 0" src="img/down.png" />
							<img v-if="TTData(dataList.TT) == 1" src="img/ok.png" />
							<img v-if="TTData(dataList.TT) == 2" src="img/up.png" />
						</div>
					</div>

					<div class="small-check-one" @click="checkHistory(26)">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								腰围
							</div>
							<div class="small-check-one-left-bottom">
								{{dataList.waistline}}
							</div>
						</div>
						<div class="small-check-one-right">
							<!--<img src="img/ok.png" />-->
						</div>
					</div>

					<div class="small-check-one" @click="checkHistory(27)">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								臀围
							</div>
							<div class="small-check-one-left-bottom">
								{{dataList.hipline}}
							</div>
						</div>
						<div class="small-check-one-right">
							<!--<img src="img/ok.png" />-->
						</div>
					</div>

					<div class="small-check-one" @click="checkHistory(28)">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								动脉高压
							</div>
							<div class="small-check-one-left-bottom">
								{{dataList.Highpressure}} mmHg
							</div>
						</div>
						<div class="small-check-one-right">
							<img v-if="souData(dataList.Highpressure) == 0" src="img/down.png" />
							<img v-if="souData(dataList.Highpressure) == 1" src="img/ok.png" />
							<img v-if="souData(dataList.Highpressure) == 2" src="img/up.png" />
							<!--<img src="img/ok.png" />-->
						</div>
					</div>

					<div class="small-check-one" @click="checkHistory(29)">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								动脉低压
							</div>
							<div class="small-check-one-left-bottom">
								{{dataList.Lowpressure}} mmHg
							</div>
						</div>
						<div class="small-check-one-right">
							<img v-if="shuData(dataList.Lowpressure) == 0" src="img/down.png" />
							<img v-if="shuData(dataList.Lowpressure) == 1" src="img/ok.png" />
							<img v-if="shuData(dataList.Lowpressure) == 2" src="img/up.png" />
							<!--<img src="img/ok.png" />-->
						</div>
					</div>

					<div class="small-check-one" @click="checkHistory(30)">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								动脉脉搏
							</div>
							<div class="small-check-one-left-bottom">
								{{dataList.APulse}}  次/分
							</div>
						</div>
						<div class="small-check-one-right">
							<img v-if="maiData(dataList.APulse) == 0" src="img/down.png" />
							<img v-if="maiData(dataList.APulse) == 1" src="img/ok.png" />
							<img v-if="maiData(dataList.APulse) == 2" src="img/up.png" />
							<!--<img src="img/ok.png" />-->
						</div>
					</div>

					<div class="small-check-one" @click="checkHistory(31)">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								中心动脉硬度指标(AVI)
							</div>
							<div class="small-check-one-left-bottom">
								{{dataList.AVI}}
							</div>
						</div>
						<div class="small-check-one-right">
							<!--<img src="img/ok.png" />-->
						</div>
					</div>

					<div class="small-check-one" @click="checkHistory(32)">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								上臂动脉硬度指标(API)
							</div>
							<div class="small-check-one-left-bottom">
								{{dataList.API}}
							</div>
						</div>
						<div class="small-check-one-right">
							<!--<img src="img/ok.png" />-->
						</div>
					</div>

					<!--心电图-->
					<div class="small-check-one-xindian">
						<div class="small-check-one-left" style="width: 6.9rem;">
							<div class="small-check-one-top" style="width: 6.9rem;height:1.1rem;text-align: center;">
								心电图总结报告
							</div>
							<div class="small-check-one-bottom" style="width: 6.9rem;text-align: center;">
								{{ecgList.EcgResult}}
							</div>
						</div>
					</div>

					<div class="small-check-one noneborder">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								平均心率
							</div>
							<div class="small-check-one-left-bottom">
								{{ecgList.HeartRate}} bpm
							</div>
						</div>
						<div class="small-check-one-right">
							<!--<img src="img/ok.png" />-->
						</div>
					</div>
					<div class="small-check-one noneborder">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								PR间期
							</div>
							<div class="small-check-one-left-bottom">
								{{ecgList.PR}} ms
							</div>
						</div>
						<div class="small-check-one-right">
							<!--<img src="img/ok.png" />-->
						</div>
					</div>
					<div class="small-check-one noneborder">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								P轴
							</div>
							<div class="small-check-one-left-bottom">
								{{ecgList.PAxis}} °
							</div>
						</div>
						<div class="small-check-one-right">
							<!--<img src="img/ok.png" />-->
						</div>
					</div>
					<div class="small-check-one noneborder">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								T轴
							</div>
							<div class="small-check-one-left-bottom">
								{{ecgList.TAxis}} °
							</div>
						</div>
						<div class="small-check-one-right">
							<!--<img src="img/ok.png" />-->
						</div>
					</div>
					<div class="small-check-one noneborder">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								QRS轴
							</div>
							<div class="small-check-one-left-bottom">
								{{ecgList.QRSAxis}} °
							</div>
						</div>
						<div class="small-check-one-right">
							<!--<img src="img/ok.png" />-->
						</div>
					</div>
					<div class="small-check-one noneborder">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								QRS时限
							</div>
							<div class="small-check-one-left-bottom">
								{{ecgList.QRS}} ms
							</div>
						</div>
						<div class="small-check-one-right">
							<!--<img src="img/ok.png" />-->
						</div>
					</div>
					<div class="small-check-one noneborder">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								QT/QTC间期
							</div>
							<div class="small-check-one-left-bottom">
								{{ecgList.QT}}/{{ecgList.QTc}} ms
							</div>
						</div>
						<div class="small-check-one-right">
							<!--<img src="img/ok.png" />-->
						</div>
					</div>
					<div class="small-check-one noneborder">
						<div class="small-check-one-left">
							<div class="small-check-one-left-top">
								RV5+SV1幅度
							</div>
							<div class="small-check-one-left-bottom">
								{{ecgList.RV5}}+{{ecgList.SV1}} mV
							</div>
						</div>
						<div class="small-check-one-right">
							<!--<img src="img/ok.png" />-->
						</div>
					</div>

				</div>
				<!--主要内容结束-->
			</div>
		</div>
		<script type="text/javascript" src="js/mui.min.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/utils/http.js"></script>
		<script type="text/javascript" src="js/configUrl.js"></script>
		<script type="text/javascript" src="js/standard.js"></script>
		<script type="text/javascript" src="js/standardCheck.js"></script>
		<script type="text/javascript" src="js/health_advice.js"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init();
			var vm = new Vue({
				el: '#health-check',
				data: {
					dataList: '',
					standard: '0',
					ecgList: '',
					adviceArray: [],  //健康建议数组
				},
				methods: {
				 	weightData: function (weight) { //判断体重是否超标
				        var res = healthStandard.waterData(weight);
				        return res; 
				     }, 
				      BMIData: function (bmi) { //判断BMI是否超标
				        var res = healthStandard.BMIData(bmi);
				        return res;
				      },
				      souData: function (sou) { //判断收缩压
				        var res = healthStandard.souData(sou);
				        return res;
				      },
				      shuData: function (shu) { //判断舒张压
				        var res = healthStandard.shuData(shu);
				        return res;
				      },
				      maiData: function (mai) { //判断脉搏
				        var res = healthStandard.maiData(mai);
				        return res;
				      },
				      TTData: function (tt) { //判断体温
				        var res = healthStandard.TTData(tt);
				        return res;
				      },
				      //判断血糖（type：0=空腹，1等于餐后，2等于随机）
				      xtData: function (xt, type) {
				        var res = healthStandard.xtData(xt, type);
				        return res;
				      },
				      zfData: function (zf) { //判断脂肪率
				        var res = healthStandard.zfData(zf);
				        return res;
				      },
				      waterData: function (water) { //判断水分率
				        var res = healthStandard.waterData(water);
				        return res;
				      },
				      baoheduData: function (baohedu) { //血氧饱和度
				        var res = healthStandard.baoheduData(baohedu);
				        return res;
				      },
				      daixieData: function (daixie) { //基础代谢
				        var res = healthStandard.daixieData(daixie);
				        return res;
				      },
				      whrData: function (whr) { //腰臀比
				        var res = healthStandard.whrData(whr);
				        return res;
				      },
				      uaData: function (ua) { //判断尿酸是否达标
				        var res = healthStandard.uaData(ua);
				        return res;
				      },
				      cholData: function (cholData) { //胆固醇是否达标
				        var res = healthStandard.cholData(cholData);
				        return res;
				      },
				      //健康建议
				      adviceEditor: function (dataList) {
				        //脂肪建议
				        var zf = this.zfData(dataList.fat);
				        if (zf === 0) {//偏低
				          this.adviceArray.push(advice.zf.low);
				        } else if (zf === 2 || zf === 3) {//偏高
				          this.adviceArray.push(advice.zf.height);
				        }
				
				        //BMI建议
				        var bmi = this.BMIData(dataList.bmi);
				        if (bmi === 0) {//偏低
				          this.adviceArray.push(advice.BMI.low);
				        } else if (bmi === 2) {//偏高
				          this.adviceArray.push(advice.BMI.height);
				        }
				
				        //血压建议
				        var sou = this.souData(dataList.Highpressure);
				        var shu = this.shuData(dataList.Lowpressure);
				        if (sou === 0 || shu === 0) {//偏低
				          this.adviceArray.push(advice.xy.low);
				        } else if (sou === 2 || shu === 2) {//偏高
				          this.adviceArray.push(advice.xy.height);
				        }
				
				        //血糖建议
				        var xt = this.xtData(dataList.glu, dataList.hoursAfterMeal);
				        if (xt === 0) {//偏低
				          this.adviceArray.push(advice.xt.low);
				        } else if (xt === 2) {//偏高
				          this.adviceArray.push(advice.xt.height);
				        }
				
				        //水分建议
				        var water = this.waterData(dataList.water);
				        if (water === 0) {//偏低
				          this.adviceArray.push(advice.water.low);
				        }
				
				        //基础代谢率建议
				        var daixie = this.daixieData(dataList.bmr)
				        if(daixie === 0){//偏低
				          this.adviceArray.push(advice.daixie.low);
				        }else if(daixie === 2){//偏高
				          this.adviceArray.push(advice.daixie.height);
				        }
				
				        //腰臀比建议
				        var whr = this.whrData(dataList.whr)
				        if(whr === 2){//偏高
				          this.adviceArray.push(advice.whr.height);
				        }
				
				        //尿酸建议
				        var ua = this.uaData(dataList.ua);
				        if(ua === 2){//偏高
				          this.adviceArray.push(advice.ua.height);
				        }
				
				        //胆固醇建议
				        var chol = this.cholData(dataList.chol);
				        if(chol === 2){//偏高
				          this.adviceArray.push(advice.chol.height);
				        }
				      },
				checkHistory:function(deviceType){
					
			      mui.openWindow({
			        url:'healthCheckHistory.html',
			        id:'healthCheckHistory',
			        extras:{
			      	deviceType:deviceType
			        }
			      })
				 }
				}
			})

			mui.plusReady(function() {

				//滚动
				mui('.mui-scroll-wrapper').scroll({
					scrollY: true,
					deceleration: 0.0003,
					indicators: false
				});
				//获取最新的徕康数据
				loadLKdata();
			});

			//获取最新的徕康数据
			function loadLKdata() {

				var userId = localStorage.getItem('userid');

				var params = {
					userId: userId,
				}

				var data = doGet('/data/findLKLastData', params, function(data) {
					console.log('徕康设备' + JSON.stringify(data));
					if(data.code != '0') {
						console.log('链接失败，请检查网络');
					} else {
						var dataJson = data.data;
						//为null则自动转换为“--”
						for(attr in dataJson) {
							if(dataJson[attr] === null) {
								if(attr == 'ecg') {
									dataJson[attr] = {
										RV5: "- -",
										QTc: "- -",
										HeartRate: "- -",
										PR: "- -",
										QRS: "- -",
										QT: "- -",
										QRSAxis: "- -",
										PAxis: "- -",
										TAxis: "- -",
										EcgResult: "- -",
										SV1: "- -"
									}
								} else {
									dataJson[attr] = '- -';
								}
							}
						}
						//						vm.dataList = data.data;
						vm.dataList = dataJson;
//						console.log(JSON.stringify(dataJson));
						vm.adviceEditor(dataJson);
						vm.ecgList = dataJson.ecg;
						getUserLabel()
					}

				})
			}

			//获取用户标签
			function getUserLabel(){
				var userId = localStorage.getItem('userid');

				var params = {
					id: userId,
				}
				
				doGet('/user/findById', params, function(data) {
					console.log('信息：' + JSON.stringify(data));
					if(data.code != '0') {
						console.log('链接失败，请检查网络');
					} else {
						var label = JSON.stringify(data.data.labels);
						//用户标签
						localStorage.setItem("label",label);
					}
				})
			}

			
			//返回
			document.getElementById('back').addEventListener('tap', function() {
				mui.back();
			});
			
			
			//分享数据
			document.getElementById('share').addEventListener('tap', function() {
				mui.openWindow({
					url:'healthCheckQR.html',
					id:'healthCheckQR'
				})
			});
			
			//查看体检建议
			document.getElementById('health-advice').addEventListener('click',function(){
				var modal_bg = document.getElementById('modal-bg');
				var modal_show = document.getElementById('modal-show');
				modal_bg.style.display = 'block';
				modal_show.style.display = 'block';
			})
			//关闭modal框
			document.getElementById('modal-bg').addEventListener('click',function(){
				var modal_bg = document.getElementById('modal-bg');
				var modal_show = document.getElementById('modal-show');
				modal_bg.style.display = 'none';
				modal_show.style.display = 'none';
			})
		</script>
	</body>

</html>